@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}
.mainWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #f7f7f0;
}

.srkBreadCrumbWrap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    margin-top: 104px;
}
.srkBreadCrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.srkBreadCrumb li {
    font-size: 14px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.srkBreadCrumb li a {
}
.srkBreadCrumb li i {
    font-size: 18px;
    display: block;
    transform: rotate(270deg);
}
.srkBreadCrumb li span {
    color: #333;
}

@media (max-width: 767px) {
    .srkBreadCrumbWrap {
        margin-top: 0;
    }
}

.srkInnerPageWrap {
}
.srkInnerPageContent {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
}
.srkInnerPageRight,
.srkInnerPageLight {
    margin-bottom: 40px;
}
.srkInnerPageRight {
    width: 74%;
    flex: 1;
}
.srkInnerPageLight {
    width: 26%;
}
@media (max-width: 767px) {
    .srkInnerPageContent {
        flex-direction: column-reverse;
    }
    .srkInnerPageRight,
    .srkInnerPageLight {
        margin-bottom: 20px;
    }
    .srkInnerPageRight {
        width: 100%;
    }
    .srkInnerPageLight {
        width: 100%;
    }
}

.srkSidebarBox {
    margin-right: 30px;
    overflow: hidden;
}

.srkSidebarBoxes {
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;
    padding: 16px 20px;
}
@media (max-width: 767px) {
    .srkSidebarBox {
        margin-right: 0;
    }
    .srkSidebarBoxes {
        display: none;
    }
    .srkChangeMore.show ~ .srkSidebarBoxes {
        display: block;
    }
}

.srkSidebarNews {
}
.srkSidebarTitle {
    overflow: hidden;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
}
.srkSidebarTitle span {
    font-size: 18px;
    line-height: 24px;
    text-transform: inherit;
}

.srkSidebarNewsCon {
    overflow: hidden;
}
.srkSidebarNewsCon li {
    line-height: 22px;
    font-size: 16px;
    padding: 10px 20px 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkSidebarNewsCon li:hover {
    transform: translateX(10px);
}
.srkSidebarNewsCon li i {
    font-size: 18px;
    width: 9px;
    display: block;
    transform: rotate(180deg);
}
.srkSidebarNewsCon li a {
    margin-left: 10px;
}

.srkSidebarProductCon {
    overflow: hidden;
}
.srkSidebarProductCon li:first-child {
    border-top: 0;
}
.srkSidebarProductCon li {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    padding: 10px 15px 10px 0;
    border-top: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 0;
}
.srkSidebarProductCon li a {
    font-size: 14px;
}

.srkSidebarFeaturedCon {
}
.srkSidebarFeaturedCon li {
    width: 100%;
    overflow: hidden;
    margin: 8px 0;
    display: flex;
}
.srkSidebarFeaturedCon li .img {
    width: 40%;
    overflow: hidden;
}
.srkSidebarFeaturedCon li .img a {
}
.srkSidebarFeaturedCon li .img a img {
    max-width: 100%;
    display: block;
}
.srkSidebarFeaturedCon li .info {
    width: 60%;
    flex: 1;
}
.srkSidebarFeaturedCon li .info .text {
    margin-left: 15px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    font-weight: normal;
    max-height: 54px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.srkSidebarFeaturedCon li .info .text a {
    display: block;
}
.srkSidebarFeaturedCon li .info .more {
    margin-left: 15px;
    display: block;
}
.srkSidebarFeaturedCon li .info .more a {
    background-color: #ff8c00;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    padding: 0 15px;
    display: inline-block;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkSidebarFeaturedCon li .info .more a:hover {
    background-color: #363f4d;
}
@media (max-width: 767px) {
    .srkSidebarFeaturedCon li {
        flex-direction: column;
    }
    .srkSidebarFeaturedCon li .img,
    .srkSidebarFeaturedCon li .info {
        width: 100%;
    }
    .srkSidebarFeaturedCon li .info .text,
    .srkSidebarFeaturedCon li .info .more {
        margin-left: 0;
    }
}

.srkSidebarContactCon {
}
.srkSidebarContactCon li {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.srkSidebarContactCon li .icon {
    color: #ff8c00;
    font-weight: bold;
    background: #f7f7f0;
    float: left;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}
.srkSidebarContactCon li .icon i {
    font-size: 16px;
}
.srkSidebarContactCon li a {
    flex: 1;
    font-size: 14px;
    line-height: 1.2;
    padding-left: 10px;
    position: relative;
}
.srkProductInfoCase {
    margin-bottom: 20px;
    background-color: #fff;
}
.srkProductInfo {
    padding: 14px 20px;
}
.srkProductInfo h1 {
    font-size: 20px;
    line-height: 24px;
    display: block;
}
.srkProductInfo p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}

.srkProductListing {
    padding-bottom: 30px;
    overflow: hidden;
}
.srkProductListingTitle {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 12px 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srkProductListingTitle h2 {
    font-size: 18px;
    color: #404042;
    line-height: 30px;
    display: inline-block;
    padding-right: 30px;
    background-color: #fff;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}
.srkProductListingTitle a {
    padding: 2px 8px;
    background-color: #fff;
    font-size: 14px;
    color: #404042;
    display: inline-block;
    z-index: 1;
    position: relative;
    margin-top: 5px;
}
.srkProductListingTitle a:hover {
    color: #fff;
    background-color: #ff8c00;
}

.srkProductShop {
    font-size: 0;
    overflow: hidden;
    margin: 0 -14px;
}
.srkProductShop li {
    width: 33.3333%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.srkProductShop li .box {
    background-color: #fff;
    position: relative;
    margin: 15px;
    overflow: hidden;
}
.srkProductShop li .box .img {
}
.srkProductShop li .box .img a {
}
.srkProductShop li .box .img a img {
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}

.srkProductShop li .box .name {
    padding: 12px 10px;
}
.srkProductShop li .box .name a {
    height: 40px;
    display: table;
    text-align: center;
    width: 100%;
}
.srkProductShop li .box .name a h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}
.srkProductShop li:hover .box .img a img {
    transform: scale(1.1);
}

@media (max-width: 993px) {
    .srkProductShop li {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .srkProductShop {
        margin: -5px;
    }
    .srkProductShop li .box {
        margin: 5px;
    }
    .srkProductShop li .box .name a h3 {
        font-size: 14px;
    }
}

.srkPaginationBar {
    padding: 15px 15px;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
    background-color: #fff;
}
.srkPaginationBar ul {
    display: block;
}
.srkPaginationBar ul li {
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}
.srkPaginationBar ul li.active {
    background: #ff8c00;
    color: #fff;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
}
.srkPaginationBar ul li a {
    background: #f7f7f0;
    height: 28px;
    width: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkPaginationBar ul li:hover a {
    background: #ff8c00;
    color: #fff;
}
.srkPaginationBar ul li a i {
    display: block;
    font-size: 20px;
    transform: rotate(-90deg);
}
.srkPaginationBar ul li.pageinfo {
    background: #f7f7f0;
    line-height: 28px;
    text-align: center;
    padding: 0 15px;
}

.srkproductCategoryCase {
}
.srkproductShopping {
}
.srkproductShopping li {
    width: 100%;
    margin-bottom: 20px;
}
.srkproductShopping li .items {
    text-align: left;
    font-size: 0;
    position: relative;
    padding: 20px;
    background-color: #fff;
}
.srkproductShopping li .items .img {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.srkproductShopping li .items .img a {
}
.srkproductShopping li .items .img a img {
    width: 100%;
    max-width: 500px;
}
.srkproductShopping li:hover .items .img a img {
    transform: scale(1.1);
}
.srkproductShopping li .items .info {
    font-size: 14px;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.srkproductShopping li .items .info > .box {
    margin-left: 30px;
}
.srkproductShopping li .items .info .title {
}
.srkproductShopping li .items .info .title h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.srkproductShopping li .items .info .con {
}
.srkproductShopping li .items .info .con p {
    font-size: 14px;
    line-height: 24px;
}

.srkproductShopping li .items .info .tag {
    font-size: 12px;
    width: 100%;
    margin: 10px -5px;
}
.srkproductShopping li .items .info .tag a {
    padding: 4px 8px;
    background-color: #eef0f1;
    display: inline-block;
    margin: 5px;
}
.srkproductShopping li .items .info .tag a:hover {
    color: #fff;
    background-color: #ff8c00;
}
.srkproductShopping li .items .info .btns {
}
.srkproductShopping li .items .info .btns a {
    line-height: 24px;
    color: #fff;
    background-color: #ff8c00;
    padding: 8px 15px;
    display: inline-block;
}
.srkproductShopping li .items .info .btns a i {
    position: relative;
    top: 2px;
    font-size: 20px;
    margin-right: 4px;
}
.srkproductShopping li .items .info .btns a.more {
    color: #242424;
    background-color: #f0f0f0;
    margin-left: 10px;
}
.srkproductShopping li .items .info .btns a:hover {
    color: #fff;
    background-color: #666;
}
.srkproductShopping li,
.srkproductShopping li .items .img a img,
.srkproductShopping li .items .info .btns a {
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}

@media (max-width: 767px) {
    .srkproductShopping li .items .info,
    .srkproductShopping li .items .img {
        width: 100%;
    }
    .srkproductShopping li .items .info > .box {
        margin-left: 0;
    }
}

.srkRelatedProductsCase {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
}
.srkRelatedProductsTitle {
}
.srkRelatedProductsTitle .title {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.srkRelatedProductsTitle .title span {
    font-size: 18px;
    line-height: 30px;
    background-color: #fff;
    display: inline-block;
    padding-right: 30px;
    position: relative;
    z-index: 1;
}
.srkRelatedProductsTitle .title:after {
    background-color: #eee;
    bottom: 10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.srkRelatedProductsList {
    font-size: 0;
    margin: 0 -15px;
}
.srkRelatedProductsList li {
    font-size: 14px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.srkRelatedProductsList li .item {
    padding: 15px;
}
.srkRelatedProductsList li .item .img {
    overflow: hidden;
}
.srkRelatedProductsList li .item .img a {
}
.srkRelatedProductsList li .item .img a img {
    width: 100%;
    max-width: 500px;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkRelatedProductsList li:hover .item .img a img {
    transform: scale(1.1);
}
.srkRelatedProductsList li .item .name {
}
.srkRelatedProductsList li .item .name a {
}
.srkRelatedProductsList li .item .name a .text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}
@media (max-width: 767px) {
    .srkRelatedProductsList li {
        width: 50%;
    }
}

.srkProductTagCase {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}
.srkProductTagCase .tit {
    display: inline-block;
}
.srkProductTagCase .tit span {
    font-size: 16px;
    padding: 5px 0;
    float: left;
    white-space: nowrap;
}
.srkProductTagCase .tags {
    vertical-align: top;
}
.srkProductTagCase .tags a {
    margin: 5px 12px;
    line-height: 20px;
    font-size: 14px;
    display: inline-block;
}

.srkProductInformationCase {
    margin: 30px 0;
    overflow: hidden;
    clear: both;
}
.srkProductInformationCon {
    overflow: hidden;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
}
.srkProductInformation {
    padding: 20px;
    background-color: #fff;
}
.srkProductInformation p {
}
.srkProductInformation img {
    display: inline-block;
    max-width: 100%;
}

.srkInteriorTable {
}

/*表格手机端滑动*/
.srkInteriorTable {
    width: 100%;
    overflow: auto;
}
.srkInteriorTable table {
    border-collapse: collapse;
    border-spacing: 0;
}
.srkInteriorTable table,
.srkInteriorTable table th,
.srkInteriorTable table td {
    border: 1px solid #ececec;
}
.srkInteriorTable table th,
.srkInteriorTable table td {
    padding: 4px 10px;
}

.srkProductCommodityCase {
    display: flex;
}
.srkProductBannerBoxes {
    width: 100%;
    max-width: 450px;
    min-width: 320px;

    position: relative;
    height: auto;

    margin-right: 35px;
    margin-bottom: 10px;
    z-index: 0;
}
.srkProductBannersSwiper {
}
.srkProductBanners {
    height: 100%;
    max-height: 450px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.srkProductBanners li {
    width: 100%;
    height: 100%;
}
.srkProductBanners li .img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 450px;
}
.srkProductBanners li .img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 450px;
}

.srkSmallImgs {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
}
.srkGoodsImgsSwiper {
}
.srkGoodsImgs {
    font-size: 0px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 100%;
    overflow: hidden;
}
.srkGoodsImgs li {
    width: 70px;
    height: 100%;
    background-position: 0px 0px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 8px;
    border: 1px solid #e6e6e6;
    display: table;
    margin-top: 8px;
}
.srkGoodsImgs li.swiper-slide-thumb-active {
    color: #fff;
    margin-right: 8px;
    height: 100%;
    width: 70px;
    border: 1px solid #f00;
}
.srkGoodsImgs li .img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.srkGoodsImgs li .img img {
    max-height: 70px;
    max-width: 70px;
    vertical-align: middle;
    display: table-cell;
    z-index: -1;
    position: relative;
}

.srkProductAttributesBoxes {
    width: 49%;
}
.srkProductAttributes {
}
.srkProductAttributes .name {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}
.srkProductAttributes .attributes {
    margin-bottom: 20px;
}
.srkProductAttributes .attributes ul {
}
.srkProductAttributes .attributes ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.srkProductAttributes .attributes ul li label {
    color: #ff8c00;
    font-size: 15px;
    margin: 0 0 5px 0;
}
.srkProductAttributes .attributes ul li span {
}
.srkProductAttributes .overview {
    margin-bottom: 20px;
}
.srkProductAttributes .overview p {
    font-size: 14px;
    line-height: 24px;
}
.srkProductAttributes .socialCircle {
    margin-bottom: 10px;
    overflow: hidden;
}
.srkProductAttributes .socialCircle .email {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.srkProductAttributes .socialCircle .email a {
    line-height: 20px;
    color: #fff;
    background-color: #ff8c00;
    padding: 8px 15px;
    display: flex;
}
.srkProductAttributes .socialCircle .email a i {
    font-size: 22px;
    margin-right: 5px;
}
.srkProductAttributes .socialCircle .email a:hover {
    color: #fff;
    background-color: #666;
}
.srkProductAttributes .socialCircle .at-share-btn-elements {
    position: relative;
    left: -2px;
}
@media (max-width: 1379px) {
    .srkProductBannerBoxes {
        width: 100%;
        max-width: 400px;
        min-width: 320px;
    }
}
@media (max-width: 1299px) {
    .srkProductBannerBoxes {
        width: 100%;
        max-width: 320px;
        min-width: 200px;
    }
    .srkGoodsImgs li {
    }
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .srkProductCommodityCase {
        flex-direction: column;
    }
    .srkProductBannerBoxes {
        max-width: 100%;
        min-width: 100%;
    }
    .srkGoodsImgs li {
        height: auto;
    }
    .srkProductAttributesBoxes {
        width: 100%;
    }
}

.srkContactTableBox {
}
.srkContactTable {
    overflow: hidden;
    margin-bottom: 30px;
}

.srkContactInfo {
    padding: 20px;
    background: #fff;
}
.srkContactInfo table {
    width: 100%;
    border-collapse: collapse;
}
.srkContactInfo tr {
    background: #fff;
    word-break: break-all;
}
.srkContactInfo tr:hover {
    background-color: #faf9f9;
}
.srkContactInfo tr th,
.srkContactInfo tr td {
    font-size: 14px;
}
.srkContactInfo tr th:first-child,
.srkContactInfo tr td:first-child {
    width: 28%;
}
.srkContactInfo td a {
    color: #fff;
    padding: 13px;
}
.srkContactInfo td {
    padding: 15px 10px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
}
.srkContactInfo td i {
    font-size: 18px;
    margin-right: 10px;
}
.srkContactInfo td.name,
.srkContactInfo td.description {
    vertical-align: top;
}
.srkContactInfo td:first-child {
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
}
@media (max-width: 767px) {
    .srkContactInfo {
        border: 8px solid #ebebeb;
    }
    .srkContactInfo tr th:first-child,
    .srkContactInfo tr td:first-child {
        width: 32%;
    }
}

.srkFactoryDetailsBox {
    overflow: hidden;
    padding: 20px;
    line-height: 28px;
    font-size: 14px;
    background-color: #fff;
}
.srkFactoryDetailsTitle {
    padding: 12px 20px;
    background-color: #f7f7f0;
    margin-bottom: 20px;
}
.srkFactoryDetailsTitle h1 {
    font-size: 18px;
    line-height: 24px;
}
.srkFactoryDetailsCon {
    overflow: hidden;
}
.srkFactoryDetailsCon p {
}
.srkFactoryDetailsCon img {
    max-width: 100%;
}

.srkCaseListingBox {
}
.srkCaseListing {
    overflow: hidden;
    font-size: 0;
    margin: 0 -15px;
}
.srkCaseListing li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.srkCaseListing li .item {
    margin: 0 15px 30px 15px;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ececec;
}
.srkCaseListing li .item .img {
    width: 100%;
    overflow: hidden;
}
.srkCaseListing li .item .img img {
    max-width: 100%;
    display: block;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkCaseListing li:hover .item .img img {
    transform: scale(1.1);
}
.srkCaseListing li .item .text {
    margin-bottom: 10px;
}
.srkCaseListing li .item .text h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.srkCaseListing li .item span {
    display: block;
}
.srkCaseListing li .item span a {
    color: #fff;
    font-size: 16px;
    background-color: #ff8c00;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkCaseListing li .item span a:hover {
    background-color: #363f4d;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .srkCaseListing li {
        width: 100%;
    }
    .srkCaseListing li .item .img {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
        max-width: 500px;
    }
}

.srkNewsListTopCase {
    overflow: hidden;
}
.srkNewsListTop {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    font-size: 14px;
}
.srkNewsListTop .item {
    position: relative;
    overflow: hidden;
    font-size: 0;
    padding: 20px;
    background-color: #fff;
}
.srkNewsListTop .item .img {
    overflow: hidden;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
.srkNewsListTop .item .img a {
    overflow: hidden;
    display: block;
}
.srkNewsListTop .item .img a img:hover {
    transform: scale(1.1);
}
.srkNewsListTop .item .img a img {
    height: auto;
    display: block;
    font-size: 0;
    overflow: hidden;
    width: 100%;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkNewsListTop .item .info {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}
.srkNewsListTop .item .info span {
    font-size: 14px;
    color: #ff8c00;
    margin-left: 25px;
}
.srkNewsListTop .item .info a {
    overflow: hidden;
    display: block;
}
.srkNewsListTop .item .info a h2 {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0 10px 25px;
}
.srkNewsListTop .item .info p {
    font-size: 14px;
    line-height: 20px;
    max-height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-left: 25px;
    margin-bottom: 8px;
}
@media (max-width: 767px) {
    .srkNewsListTop .item .img,
    .srkNewsListTop .item .info {
        width: 100%;
        margin-bottom: 10px;
    }
    .srkNewsListTop .item .info span,
    .srkNewsListTop .item .info a h2,
    .srkNewsListTop .item .info p {
        margin-left: 0;
    }
}

.srkNewsListingCase {
    overflow: hidden;
    margin-bottom: 30px;
}
.srkNewsListingTitle {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 12px 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srkNewsListingTitle .tit {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}
.srkNewsListingTitle .tit a {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}
.srkNewsListingTitle span {
}
.srkNewsListingTitle span a {
    font-size: 14px;
    line-height: 24px;
}

.srkNewsListingList {
    overflow: hidden;
    font-size: 0;
    margin: -15px;
}
.srkNewsListingList li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.srkNewsListingList li .items {
    overflow: hidden;
    position: relative;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
}
.srkNewsListingList li .items .img {
    margin-bottom: 10px;
    min-height: 40px;
    overflow: hidden;
}
.srkNewsListingList li .items .img a {
}
.srkNewsListingList li:hover .items .img a img {
    transform: scale(1.2);
}
.srkNewsListingList li .items .img a img {
    width: 100%;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkNewsListingList li .items .text {
}
.srkNewsListingList li .items .text h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.srkNewsListingList li .items p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
}
.srkNewsListingList li .items span {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #ff8c00;
    padding: 5px;
}
@media (max-width: 767px) {
    .srkNewsListingList {
        margin: -5px;
    }
    .srkNewsListingList li {
        width: 100%;
    }
    .srkNewsListingList li .items {
        margin: 5px;
        padding: 15px px;
    }
}

.srkAboutDetailsBox {
    overflow: hidden;
    padding: 20px;
    line-height: 28px;
    font-size: 14px;
    background-color: #fff;
}
.srkAboutDetailsBox .subtitle {
    padding: 12px 20px;
    background-color: #f7f7f0;
    margin-bottom: 20px;
}
.srkAboutDetailsBox .subtitle h1 {
    font-size: 18px;
    line-height: 24px;
}

.srkAboutBanner {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.srkAboutBanner ul {
}
.srkAboutBanner ul li {
}
.srkAboutBanner ul li .img {
}
.srkAboutBanner ul li .img img {
}

.srkAboutDetailsMain {
    overflow: hidden;
}
.srkAboutDetailsMain p {
}
.srkAboutDetailsMain img {
    max-width: 100%;
}

.srkNewsDetailsBox {
    overflow: hidden;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
}
.srkNewsDetailsBox .subtitle {
    background: #f7f7f0;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.srkNewsDetailsBox .subtitle h1 {
    font-size: 18px;
    line-height: 24px;
}

.srknewsDetailsMain {
    overflow: hidden;
}
.srknewsDetailsMain p {
}
.srknewsDetailsMain img {
    max-width: 100%;
}

.srkOtherUpperNextMod {
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    line-height: 28px;
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}
.srkOtherUpperNextMod .unwrap {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srkOtherUpperNextMod .unwrap .iconfont {
    font-size: 14px;
    display: inline-block;
}
.srkOtherUpperNextMod .unwrap .otherUpper {
}
.srkOtherUpperNextMod .unwrap .otherUpper a {
}
.srkOtherUpperNextMod .unwrap .otherUpper a i {
    transform: rotate(-90deg);
    margin-right: 5px;
}
.srkOtherUpperNextMod .unwrap .otherUpper a span {
}

.srkOtherUpperNextMod .unwrap .otherNext {
}
.srkOtherUpperNextMod .unwrap .otherNext a {
}
.srkOtherUpperNextMod .unwrap .otherNext a i {
    transform: rotate(90deg);
    margin-left: 5px;
}
.srkOtherUpperNextMod .unwrap .otherNext a span {
}

.srkCertificateListingBox {
}
.srkCertificateListingBox ul {
    font-size: 0;
    overflow: hidden;
}
.srkCertificateListingBox ul li {
    width: 33.33%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.srkCertificateListingBox ul li .items {
    background-color: #fff;
    padding: 20px;
    margin: 0 10px 20px;
    position: relative;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkCertificateListingBox ul li .items:hover {
    background-color: #ff8c00;
}
.srkCertificateListingBox ul li .items .img {
    overflow: hidden;
    height: 280px;
    text-align: center;
    display: table;
    width: 100%;
}
.srkCertificateListingBox ul li .items .img a {
    display: table;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.srkCertificateListingBox ul li .items .img a img {
    max-height: 280px;
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;
}

.srkCertificateListingBox ul li .items .text {
    font-size: 16px;
    background-color: #666;
    color: #fff;
    display: block;
    padding: 8px 25px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .srkCertificateListingBox ul li {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .srkCertificateListingBox ul li {
        width: 100%;
    }
    .srkCertificateListingBox ul li .items {
        padding: 0;
        margin: 0 0 15px;
    }
    .srkCertificateListingBox ul li .items .img {
        height: 180px;
    }
    .srkCertificateListingBox ul li .items .img a img {
        max-height: 180px;
    }
}

.srkCaseListingBox {
}
.srkCaseListingBox ul {
    overflow: hidden;
    font-size: 0;
    margin: 0 -15px;
}
.srkCaseListingBox ul li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.srkCaseListingBox ul li .items {
    margin: 0 15px 30px 15px;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ececec;
}
.srkCaseListingBox ul li .items .img {
    width: 100%;
    overflow: hidden;
}
.srkCaseListingBox ul li .items .img a {
}
.srkCaseListingBox ul li .items .img a img {
    max-width: 100%;
    display: block;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkCaseListingBox ul li .items .img a img:hover {
    transform: scale(1.1);
}
.srkCaseListingBox ul li .items .text {
}
.srkCaseListingBox ul li .items .text h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.srkCaseListingBox ul li .items p {
    font-size: 14px;
    line-height: 20px;
    max-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
}
.srkCaseListingBox ul li .items span {
}
.srkCaseListingBox ul li .items span a {
    color: #fff;
    font-size: 16px;
    background-color: #ff8c00;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkCaseListingBox ul li .items span a:hover {
    background-color: #363f4d;
}
@media (max-width: 767px) {
    .srkCaseListingBox ul li {
        width: 100%;
    }
}

.srkHomeBannerWrap {
    position: relative;
    overflow: hidden;
}
.srkHomeBannerWrap ul {
}
.srkHomeBannerWrap ul li {
}
.srkHomeBannerWrap ul li a {
}
.srkHomeBannerWrap ul li a img {
}
.srkHomeBannerWrap .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.srkHomeBannerWrap .swiper-pagination > span {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: #ececec;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
}
.srkHomeBannerWrap .swiper-pagination > span.swiper-pagination-bullet-active {
    background-color: #ff8c00;
    width: 18px;
    height: 18px;
}
.srkHomeBannerWrap .swiper-button-prev,
.srkHomeBannerWrap .swiper-button-next {
    width: 45px;
    height: 45px;
    margin: -13px 0 0;
    overflow: hidden;
    cursor: pointer;
    background-position: 0 0;
    z-index: 1;
    font-size: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srkHomeBannerWrap .swiper-button-prev:hover,
.srkHomeBannerWrap .swiper-button-next:hover {
    background-color: #ff8c00;
    -moz-opacity: 1;
    opacity: 1;
}
.srkHomeBannerWrap .swiper-button-prev {
}
.srkHomeBannerWrap .swiper-button-next {
}

.srkHomeBannerWrap .swiper-button-prev:after,
.srkHomeBannerWrap .swiper-button-next:after {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 767px) {
    .srkHomeBannerWrap .swiper-pagination > span {
        width: 10px;
        height: 10px;
    }
    .srkHomeBannerWrap .swiper-pagination > span.swiper-pagination-bullet-active {
        width: 14px;
        height: 14px;
    }
    .srkHomeBannerWrap .swiper-button-prev,
    .srkHomeBannerWrap .swiper-button-next {
        width: 25px;
        height: 25px;
        margin: -7px 0 0;
    }
    .srkHomeBannerWrap .swiper-button-prev:after,
    .srkHomeBannerWrap .swiper-button-next:after {
        font-size: 14px;
        color: #fff;
    }
}

.srkHomeFocusWrap {
    overflow: hidden;
}
.srkHomeFocus {
    padding: 40px 0 10px 0;
    overflow: hidden;
    background-color: #f7f7f0;
    text-align: center;
}
.srkHomeFocus h1 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 10px;
}
.srkHomeFocus p {
    font-size: 14px;
    line-height: 28px;
}
