@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}
.mainWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #f7f7f0;
}

.srkBreadCrumbWrap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    margin-top: 104px;
}
.srkBreadCrumb {
    display: flex;
    align-items: center;
}
.srkBreadCrumb li {
    font-size: 14px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.srkBreadCrumb li a {
}
.srkBreadCrumb li i {
    font-size: 18px;
    display: block;
    transform: rotate(270deg);
}
.srkBreadCrumb li span {
    color: #333;
}

@media (max-width: 767px) {
    .srkBreadCrumbWrap {
        margin-top: 0;
    }
}

.srkInnerPageWrap {
}
.srkInnerPageContent {
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
}
.srkInnerPageRight,
.srkInnerPageLifht {
    margin-bottom: 40px;
}
.srkInnerPageRight {
    width: 74%;
    flex: 1;
}
.srkInnerPageLifht {
    width: 26%;
}
@media (max-width: 767px) {
    .srkInnerPageContent {
        flex-direction: column-reverse;
    }
    .srkInnerPageRight,
    .srkInnerPageLifht {
        margin-bottom: 20px;
    }
    .srkInnerPageRight {
        width: 100%;
    }
    .srkInnerPageLifht {
        width: 100%;
    }
}

.srkSidebarBox {
    margin-right: 30px;
    overflow: hidden;
}

.srkSidebarBoxes {
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;
    padding: 16px 20px;
}
@media (max-width: 767px) {
    .srkSidebarBox {
        margin-right: 0;
    }
    .srkSidebarBoxes {
        display: none;
    }
    .srkChangeMore.show ~ .srkSidebarBoxes {
        display: block;
    }
}

.srkSidebarNews {
}
.srkSidebarTitle {
    overflow: hidden;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
}
.srkSidebarTitle span {
    font-size: 18px;
    line-height: 24px;
    text-transform: inherit;
}

.srkSidebarNewsCon {
    overflow: hidden;
}
.srkSidebarNewsCon li {
    line-height: 22px;
    font-size: 16px;
    padding: 10px 20px 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.srkSidebarNewsCon li i {
    font-size: 18px;
    width: 9px;
    display: block;
    transform: rotate(180deg);
}
.srkSidebarNewsCon li a {
    margin-left: 10px;
}

.srkSidebarProductCon {
    overflow: hidden;
}
.srkSidebarProductCon li:first-child {
    border-top: 0;
}
.srkSidebarProductCon li {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    padding: 10px 15px 10px 0;
    border-top: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 0;
}
.srkSidebarProductCon li a {
    font-size: 14px;
}

.srkSidebarFeaturedCon {
}
.srkSidebarFeaturedCon li {
    width: 100%;
    overflow: hidden;
    margin: 8px 0;
    display: flex;
}
.srkSidebarFeaturedCon li .img {
    width: 40%;
    overflow: hidden;
}
.srkSidebarFeaturedCon li .img a {
}
.srkSidebarFeaturedCon li .img a img {
    max-width: 100%;
    display: block;
}
.srkSidebarFeaturedCon li .info {
    width: 60%;
    flex: 1;
}
.srkSidebarFeaturedCon li .info .text {
    margin-left: 15px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    font-weight: normal;
    max-height: 54px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.srkSidebarFeaturedCon li .info .text a {
    display: block;
}
.srkSidebarFeaturedCon li .info .more {
    margin-left: 15px;
    display: block;
}
.srkSidebarFeaturedCon li .info .more a {
    background-color: #ff8c00;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    padding: 0 15px;
    display: inline-block;
    transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.srkSidebarFeaturedCon li .info .more a:hover {
    background-color: #363f4d;
}
@media (max-width: 767px) {
    .srkSidebarFeaturedCon li {
        flex-direction: column;
    }
    .srkSidebarFeaturedCon li .img,
    .srkSidebarFeaturedCon li .info {
        width: 100%;
    }
    .srkSidebarFeaturedCon li .info .text,
    .srkSidebarFeaturedCon li .info .more {
        margin-left: 0;
    }
}

.srkSidebarContactCon {
}
.srkSidebarContactCon li {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.srkSidebarContactCon li .icon {
    color: #ff8c00;
    font-weight: bold;
    background: #f7f7f0;
    float: left;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}
.srkSidebarContactCon li .icon i {
    font-size: 16px;
}
.srkSidebarContactCon li a {
    flex: 1;
    font-size: 14px;
    line-height: 1.2;
    padding-left: 10px;
    position: relative;
}
